<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ewish.holidayplanner"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.ewish.holidayplanner.HolidayPlannerApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.ewish.holidayplanner.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ewish.holidayplanner.UserSettingActivity"
            android:label="@string/title_activity_user_setting" >
        </activity>
        <activity
            android:name="com.ewish.holidayplanner.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.ewish.holidayplanner.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName="com.ewish.holidayplanner.SignUpActivity" >
        </activity>
        <activity
            android:name="com.ewish.holidayplanner.AddGroupActivity"
            android:label="@string/title_activity_add_group" >
        </activity>
        <activity
            android:name="com.ewish.holidayplanner.ManageGroupActivity"
            android:label="@string/title_activity_manage_group" >
        </activity>
        <activity
            android:name="com.ewish.holidayplanner.InviteMemberActivity"
            android:label="@string/title_activity_invite_member" >
        </activity>
    </application>

</manifest>